<p-table [value]="chauffeurTaxis" [contextMenu]="cm" [(contextMenuSelection)]="selectedChauffeurTaxi">
  <ng-template pTemplate="caption">
    ChauffeurTaxi
  </ng-template>

  <ng-template pTemplate="header">

    <tr>

      <th>Nom</th>
      <th>prenom</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Login</th>
      <th>Numéro Permis</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-type>
    <tr [pContextMenuRow]="type">

      <td>{{type.nom}}</td>
      <td>{{type.prenom}}</td>
      <td>{{type.email}}</td>
      <td>{{type.telephone}}</td>
      <td>{{type.login}}</td>
      <td>{{type.numPermis}}</td>


    </tr>
  </ng-template>
</p-table>
<p-contextMenu #cm [model]="items"></p-contextMenu>
