
<body class="gray-bg">

<div class="middle-box text-center loginscreen animated fadeInDown">

  <div>
    <div>

      <h5 class="logo-name">INfoTrafic</h5>
    </div>

    <h3>Welcome to Infotrafic</h3>

    <p>Connectez-vous</p>

    <div class="m-t">

      <div class="form-group  m-b">
         <span class="input-group-prepend">
           <button type="button" class="btn btn-primary">
             <span class="fa fa-envelope-o"></span>
           </button>
        <input type="password" [(ngModel)]="email" class="form-control" placeholder="Email" required>
         </span>
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b" (click)="envoyer()">Envoyer</button>




    </div>

  </div>
</div>
</body>

<p-toast ></p-toast>
