<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu" style="">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <img alt="image" class="rounded-circle" src="/assets/image/profile_small.jpg">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
            <span class="block m-t-xs font-bold">{{admin.nom + ' '+ admin.prenom}}</span>
            <span class="text-muted text-xs block">{{role}} <b class="caret"></b></span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs" x-placement="bottom-start" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">

            <li><a class="dropdown-item" routerLink="/pwd">Changer mot de passe</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logout()">Déconnexion</a></li>
          </ul>
        </div>
        <div class="logo-element">InfoTrafic
        </div>
      </li>
      <li>
        <a ><i class="fa fa-home"></i> <span class="nav-label">Gestion des stations</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse" aria-expanded="false">
          <li><a routerLink="/station">Station Service</a></li>
          <li><a routerLink="/typeStation">Type Station</a></li>

        </ul>


</li>
      <li>
        <a ><i class="fa fa-user-circle"></i> <span class="nav-label">Gestion des comptes</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse" aria-expanded="false">
          <li><a routerLink="/admin">Admin</a></li>
          <li><a routerLink="/abonne">Abonné</a></li>
          <li><a routerLink="/chauffeurTaxi">Chauffeur taxi</a></li>

</ul>
        <li>
      <a><i class="fa fa-exclamation-triangle"></i> <span class="nav-label">Gestion des alertes</span> <span class="fa arrow"></span></a>
      <ul class="nav nav-second-level collapse" aria-expanded="false">
        <li><a routerLink="/alerte">Alerte</a></li>
        <li><a routerLink="/typeAlerte">Type Alerte</a></li>
      </ul>


      </li>
      <li>
        <a routerLink="/numeroUrgence"><i class="fa fa-phone-square"></i> <span class="nav-label">Numéro d'urgence</span> </a>



      </li>
    </ul>

  </div>
</nav>
