<button type="button" (click)="showDialog()" pButton icon="pi pi-plus-circle" label="Ajouter"></button>


<p-table [value]="admins" [contextMenu]="cm" [(contextMenuSelection)]="selectedAdmin">
  <ng-template pTemplate="caption">
    Admin
  </ng-template>

  <ng-template pTemplate="header">

    <tr>
      <th>matricule</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Login</th>
      <th>SuperAdmin</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-type>
    <tr [pContextMenuRow]="type">
      <td>{{type.matricule}}</td>
      <td>{{type.nom}}</td>

      <td>{{type.email}}</td>


      <td>{{type.login}}</td>







      <td>{{type.superAdmin}}</td>

    </tr>
  </ng-template>
</p-table>

<p-dialog header="Admin" [(visible)]="display" [style]="{'width':'400px'}">

  <div class="ui-g">
    <tr>
    <td class="ui-g-4">Nom</td>
    <td class="ui-g-4">
      <input pInputText type="text" required [(ngModel)]="admin.nom" #nom="ngModel">
    </td>
    </tr>
    <tr>
    <td class="ui-g-4">Email</td>
    <td class="ui-g-4">
      <input pInputText type="text" required [(ngModel)]="admin.email" #nom="ngModel">
    </td>
    </tr>
    <tr>
    <td class="ui-g-4">Login</td>
    <td class="ui-g-4">
      <input pInputText type="text" required [(ngModel)]="admin.login" #nom="ngModel">
    </td>
    </tr>
    

    <tr>
    <td class="ui-g-4">Matricule</td>
    <td class="ui-g-4">
      <input pInputText type="text" required [(ngModel)]="admin.matricule" #nom="ngModel">
    </td>
    </tr>

    <tr>
      <td class="ui-g-4">Super Admin</td>
      <td class="ui-g-4">
        <p-toggleButton [(ngModel)]="admin.superAdmin"></p-toggleButton>
      </td>
    </tr>
  </div>
  <p-footer>

    <button *ngIf="!updated" pButton label="Ajouter" (click)="ajouter()" [disabled]="!nom.valid" ></button>
    <button *ngIf="updated" pButton label="Modifier" (click)="modifier()" [disabled]="!nom.valid" ></button>
    <button pButton label="Annuler" (click)="display=false" ></button>
  </p-footer>


</p-dialog>
<p-contextMenu #cm [model]="items" ></p-contextMenu>

