<nav id="pageslide-left" class="pageslide inner">
  <div class="navbar-content" style="height: 223px;">
    <!-- start: SIDEBAR -->
    <div class="main-navigation left-wrapper transition-left">

      <div class="user-profile border-top padding-horizontal-10 block">
        <div class="inline-block"></div>


        <div class="inline-block">
          <h5 class="no-margin">Bienvenue</h5>
          <!-- 						<h4 class="no-margin">admin</h4> -->
          <h4 class="no-margin">Foulen ben Foulen</h4>

        </div>


      </div>


      <!-- start: Statistique NAVIGATION MENU -->
      <ul class="main-navigation-menu">
        <li><a routerLink="/station"> Station Service
          <i class="icon-arrow"></i>
        </a>
        </li>

        <li><a routerLink="/typeStation"> Type Station Service
          <i class="icon-arrow"></i>
        </a>
        </li>




      </ul>


    </div>
  </div>

</nav>
