<div class="form-group row">
  <label class="col-lg-2 col-form-label">Mot de passe actuel</label>

  <div class="col-lg-6">

    <input  class="form-control" type="password"  required [(ngModel)]="pwd.oldPassword" #pwd1="ngModel" (blur)="checkPwd()">
  </div>

  <div class="col-lg-4">
    <p-message severity="error" text="Mot de passe actuel réquis"
               *ngIf="pwd1.invalid && (pwd1.dirty || pwd1.touched)"></p-message>
  </div>
</div>

<div class="form-group row">
  <label class="col-lg-2 col-form-label">Nouveau Mot de passe </label>

  <div class="col-lg-6">

    <input  class="form-control" type="password"  required [(ngModel)]="pwd.newPassword" #pwd2="ngModel">
  </div>

  <div class="col-lg-4">
    <p-message severity="error" text="Nouveau Mot de passe réquis"
               *ngIf="pwd2.invalid && (pwd2.dirty || pwd2.touched)"></p-message>
  </div>
</div>

<div class="form-group row">
  <label class="col-lg-2 col-form-label">Confirmer Mot de passe </label>

  <div class="col-lg-6">

    <input  class="form-control" type="password"  required [(ngModel)]="pwd.confirmPassword" #pwd3="ngModel"
    pattern="{{pwd2.value}}">
  </div>

  <div class="col-lg-4">
    <p-message severity="error" [text]="pwd3.errors['required'] ? 'Confirmer Mot de passe réquis' :
      pwd3.errors['pattern'] ? 'Les mot de passe ne sont pas identiques':''"
               *ngIf="pwd3.invalid && (pwd3.dirty || pwd3.touched)"></p-message>
  </div>
</div>
<hr>
<div class="form-group row">
<div class="col-lg-8">
</div>
<div class="col-lg-4">
<button class="btn-block" (click)="changePwd()"  pButton label="Enregistrer les modifications" [disabled]="pwd1.invalid || pwd2.invalid || pwd3.invalid" ></button>
</div>
</div>
