<body class="gray-bg">

<div class="middle-box text-center loginscreen animated fadeInDown">

  <div>
    <div>

      <h5 class="logo-name">INfoTrafic</h5>
    </div>

    <h3>Welcome to Infotrafic</h3>

    <p>Connectez-vous</p>

    <div class="m-t">

      <div class="form-group  m-b">
      <span class="input-group-prepend">
        <button type="button" class="btn btn-primary">
          <span class="fa fa-user"></span>
        </button>
        <input [(ngModel)]="admin.login" type="text" class="form-control" placeholder="Username" required>
        </span>

      </div>
      <div class="form-group  m-b">
         <span class="input-group-prepend">
           <button type="button" class="btn btn-primary">
             <span class="fa fa-lock"></span>
           </button>
        <input type="password" [(ngModel)]="admin.password" class="form-control" placeholder="Password" required>
         </span>
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b" (click)="authentifier()">Login</button>


      <a class="btn btn-sm btn-white btn-block" routerLink="/forgot">Create an account</a>

    </div>

  </div>
</div>
</body>

<p-toast></p-toast>
