<div class="main-wrapper">
  <p-toast [style]="{marginTop: '80px'}" ></p-toast>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

  <app-header></app-header>
  <app-menu></app-menu>
  <div class="main-container inner">

    <div class="main-content" style="min-height: 64px;">
      <div class="container">


        <br /> <br />
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-white">
              <div class="panel-body">

                <router-outlet></router-outlet>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <app-footer></app-footer>
</div>
