<p-table [value]="alertes"  >
  <ng-template pTemplate="caption">
    Alertes
  </ng-template>

  <ng-template pTemplate="header">

    <tr>
      <th>Date</th>
      <th>Type Alerte</th>
      <th>Abonnée</th>
      <th>Admin</th>
      <th>Signal</th>

      <th width="8%" >Opérations</th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-type>
    <tr >
      <td>{{type.dateAlerte | dateTimeFormatPipe}}</td>
      <td>{{type.typeAlerte.nom}}</td>
      <td>{{type.abonne.nom + ' '+type.abonne.prenom}}</td>
      <td>{{type.admin.nom + ' '+type.admin.prenom}}</td>
      <td>{{type.signalAlertes.length}}</td>

<td style="text-align: center">
  <button pButton icon="pi pi-eye" (click)="showSignal(type)"></button>
</td>
    </tr>
  </ng-template>
</p-table>


<p-dialog header="Signal" [(visible)]="display" [style]="{width: '600px'}">
  <p-table [value]="alerte.signalAlertes"  >


    <ng-template pTemplate="header">

      <tr>
        <th width="25%">Date</th>

        <th>Abonnée</th>
        <th>Cause</th>




      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-type>
      <tr >
        <td>{{type.dateSignal | dateTimeFormatPipe}}</td>

        <td>{{type.abonne.nom + ' '+type.abonne.prenom}}</td>

        <td>{{type.cause}}</td>


      </tr>
    </ng-template>
  </p-table>
</p-dialog>
