<p-gmap [options]="options" [style]="{'width':'100%','height':'600px'}"
        [overlays]="overlays" (onOverlayClick)="handleOverlayClick($event)"></p-gmap>
  <p-dialog header="Signal" [(visible)]="display" [style]="{width: '600px'}">
    <div class="form-group row">
      <label class="col-lg-3 col-form-label">Date</label>

      <div class="col-lg-6">

        <input  class="form-control" type="text"  readonly value="{{alerte.dateAlerte | dateTimeFormatPipe}}" >
      </div>


    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label">Abonnée</label>

      <div class="col-lg-6">

        <input  class="form-control" type="text"  readonly value="{{alerte.abonne?.nom + ' '+ alerte.abonne?.prenom}}" >
      </div>


    </div>

    <div class="form-group row">
      <label class="col-lg-3 col-form-label">Type alerte</label>

      <div class="col-lg-6">

        <input  class="form-control" type="text"  readonly value="{{alerte.typeAlerte?.nom}}" >
      </div>


    </div>


    <div class="form-group row">
      <label class="col-lg-3 col-form-label">Active</label>

      <div class="col-lg-6">
        <p-inputSwitch  (onChange)="changeEtat($event,type)" [(ngModel)]="alerte.enabled"></p-inputSwitch>

      </div>


    </div>

    <p-table [value]="alerte.signalAlertes"  >


      <ng-template pTemplate="header">

        <tr>
          <th width="25%">Date</th>

          <th>Abonnée</th>
          <th>Cause</th>




        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-type>
        <tr >
          <td>{{type.dateSignal | dateTimeFormatPipe}}</td>

          <td>{{type.abonne.nom + ' '+type.abonne.prenom}}</td>

          <td>{{type.cause}}</td>


        </tr>
      </ng-template>
    </p-table>
  </p-dialog>
